<style type='text/css'>
  .exfilitrator-vimeo-logo {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20825.98%20233.52%22%3E%3Ctitle%3Evimeo_logo_blue_on_white%3C/title%3E%3Cpath%20d%3D%22M225.66%2C51.18a37.09%2C37.09%2C0%2C0%2C0%2C26.55-10.73q10-9.49%2C10.38-19.82%2C0.4-7-5.39-13.82A18.34%2C18.34%2C0%2C0%2C0%2C242.66%2C0a42.2%2C42.2%2C0%2C0%2C0-27.18%2C9.9q-12.24%2C9.91-12.64%2C20.64Q202%2C51.19%2C225.66%2C51.18Z%22%20fill%3D%22%2300adef%22/%3E%3Cpath%20d%3D%22M813%2C93.95q-14.94-19.46-44-19.47-45.22%2C0-75.07%2C33.13-27.82%2C29.82-25.72%2C65.45c0.09%2C1.75.24%2C3.47%2C0.42%2C5.15l-3.11%2C1.33q-35.27%2C15.2-65.13%2C15.19-14.95%2C0-22.4-10.34%2C40.22-6.62%2C66.79-31Q669.7%2C131%2C668.06%2C109.91q-2.49-33.09-43.14-33.11-44%2C0-76.32%2C33.18-29.46%2C30.29-29.87%2C63.87a75.21%2C75.21%2C0%2C0%2C0%2C.55%2C10.86q-7%2C4.58-10.5%2C4.59c-5.26%2C0-8.57-1.09-10-3.3s-1.94-6.2-1.66-12q0-3.31%2C5.19-25.41t5.6-33.69q0.82-16.93-6.64-26-8.71-11.16-28.62-9.5-16.58%2C1.26-31.94%2C12.45a110.12%2C110.12%2C0%2C0%2C0-18.66%2C17.83c-2.22%2C1.94-4.29%2C3.75-6.23%2C5.39q0.4-17-6.63-26.14-8.73-11.2-29-9.54-23.64%2C2.07-42.72%2C18.67a76.34%2C76.34%2C0%2C0%2C0-14.52%2C16.6%2C36.73%2C36.73%2C0%2C0%2C0%2C.82-7.88%2C39.21%2C39.21%2C0%2C0%2C0-6.64-22.61q-6.64-9.75-17.42-8.91-6.22.42-23.64%2C16.58-24.08%2C22.4-26.14%2C24.05l10%2C11.2q11.62-8.38%2C14.11-8.39%2C4.55%2C0%2C3.73%2C7.44-0.4%2C10.76-3.82%2C30-2.12%2C11.92-3.07%2C20.58l-0.37.31q-14.95%2C12.29-20.74%2C12.28-13.27%2C0-12.86-17.77%2C6.22-38.84%2C11.63-64.05%2C1.64-14.87-4.78-24.17T223.6%2C75.24q-8.73.84-26.56%2C16.6L184.67%2C103q-1.23-29.36-26.86-30.11-38.4-1.24-52%2C43.37a34.6%2C34.6%2C0%2C0%2C1%2C13.67-3q14.09%2C0%2C12.44%2C15.83-0.84%2C9.58-12.44%2C27.91T102%2C175.34q-7.47%2C0-13.69-28.25-2.09-8.29-7.47-42.35-5-31.57-26.55-29.49Q45.2%2C76.08%2C27%2C91.84q-13.27%2C12-27%2C24.05l8.69%2C11.2q12.42-8.69%2C14.5-8.7%2C9.51%2C0%2C17.8%2C29.83L55.9%2C202.92q11.16%2C29.84%2C27.32%2C29.83%2C26.08%2C0%2C63.75-49%2C26.48-34.08%2C34.36-57.64%2C10.45-7.72%2C12.8-7.73%2C7.45%2C0%2C7.47%2C10.78%2C0%2C2.07-8.1%2C30.68T185%2C202.13q-0.42%2C13.28%2C6.42%2C21.55T211.15%2C232q27.78%2C0%2C55.58-24%2C2.46-2.15%2C4.78-4.37a33.18%2C33.18%2C0%2C0%2C0%2C7.66%2C15.23q12%2C12.84%2C40.44%2C12-3.8-9.13-3-32.35a120.49%2C120.49%2C0%2C0%2C1%2C13.29-49.36q12-23.64%2C22.44-23.65%2C12%2C0%2C11.21%2C15.35a106.47%2C106.47%2C0%2C0%2C1-4.07%2C23.65A111.86%2C111.86%2C0%2C0%2C0%2C355.43%2C191q-0.84%2C21.17%2C9.52%2C30.28%2C11.56%2C10.37%2C40.53%2C9.54-4.33-9.53-3.49-27.38%2C1.24-25.29%2C17.07-52.26%2C15-25.71%2C25.8-25.72%2C10%2C0%2C9.58%2C15.76-0.42%2C10.36-5.19%2C29t-5.18%2C31.92Q443.22%2C232%2C470.2%2C232q27.78%2C0%2C55.58-24l0.89-.8c0.63%2C1.09%2C1.3%2C2.17%2C2%2C3.22q14.51%2C22.38%2C48.13%2C22.39%2C45.2%2C0%2C89.18-25.26c3.27-1.85%2C6.38-3.69%2C9.35-5.54a59%2C59%2C0%2C0%2C0%2C6.6%2C10.44q17%2C21.13%2C49.77%2C21.13%2C39.4%2C0%2C66-27.75t28.21-65.86Q827.12%2C111.77%2C813%2C93.95ZM571.48%2C168.57c-0.16-3.58-.16-5.37%2C0-5.37q0.4-15.67%2C13.25-32.8T610%2C113.27q9.53%2C0%2C9.12%2C11.14-0.42%2C8.26-12.42%2C21.47A93.34%2C93.34%2C0%2C0%2C1%2C571.48%2C168.57ZM779%2C138.35a78.62%2C78.62%2C0%2C0%2C1-12%2C38.23q-13.27%2C22-31.94%2C22-8.31%2C0-12.86-9.14a35.61%2C35.61%2C0%2C0%2C1-3.73-18.29%2C80.29%2C80.29%2C0%2C0%2C1%2C12.45-39.89q13.67-22.86%2C34.84-22.86%2C6.62%2C0%2C10.16%2C9.36A52.21%2C52.21%2C0%2C0%2C1%2C779%2C138.35Z%22%20fill%3D%22%2300adef%22/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 100px;
    margin: auto;
    position: relative;
    width: 150px;
  }

  .exfilitrator-migration-success {
    font-weight: bold;
    margin: auto;
    text-align:center;
  }
</style>
<div class="exfilitrator-migration-success">
  <div class="exfilitrator-<%= request.env['omniauth.auth']['provider'] %>-logo"></div>
  Migration Request Submitted!
  <div class='redirect-timer' id='redirect-timer'>

  </div>
</div>
